<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <system.serviceModel>
    <client>
      <endpoint name="Game"
                address="net.tcp://localhost:10001/YahtzeeLibrary/Game"
                binding="netTcpBinding"
                bindingConfiguration="WindowsClientOverTcp"
                contract="YahtzeeContracts.IGame"/>
    </client>
    <bindings>
      <netTcpBinding>
        <binding name="WindowsClientOverTcp">
          <security mode="None">
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
  </system.serviceModel>
</configuration>