<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <system.serviceModel>
    <client>
      <endpoint name="Game"
                address="http://localhost:10000/YahtzeeLibrary/Game"
                binding="wsDualHttpBinding"
                contract="YahtzeeLibrary.IGame"/>
    </client>
  </system.serviceModel>
</configuration>